*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
}

/* contenedor_contenido */
.contenedor_contenido{
    flex: 1;
}

/* contenedor_plan_estudios */
.contenedor_plan_estudios{

}

/* Plan de estudios */
.plan_estudios {
    text-align: center;
    padding: 2em;
}

/* contenedor_botones */
.contenedor_botones {
    text-align: center; 
    margin-bottom: 1.25em; 
}

.contenedor_botones button {
    background-color: rgba(63, 106, 138, 0.71);
    color: white;
    border: none;
    margin: 0 auto; 
    padding: 0.625em 0.9375em; 
    cursor: pointer;
    border-radius: 0.3125em; 
    margin-right: 0.3125em; 
    transition: background-color 0.3s ease;
}

.contenedor_botones button:hover {
    background-color: #ef8354;
}

/* Tablas */
.tabla2, .tabla3, .tabla4, .tabla5, .tabla6 {
    display: none;
}

.tablas {
    max-width: 62.5em; 
    margin: 0 auto; 
    border-collapse: collapse;
}
.titulo{
    background-color: rgba(63, 106, 138, 0.71);
}
.tablas td, .tablas th {
    border: 1px solid #ddd;
    padding: 1em;
    text-align: center;
}
.tablas td summary{
    text-decoration: underline;
}
.tablas td summary:hover{
    cursor:url(/Trabajo_Pagina/Vista/imagenes/pngwing.com.png),auto;
    
}
.tablas tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tablas tr:hover {
    background-color: #ef8354;
}
@media screen and (max-width: 37.5em) {
    .tablas {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}
